.chat-message-user,
.chat-message-robot {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.chat-message-user {
  justify-content: end;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 0.75rem 1.2rem;
  border-radius: 8px;
  max-width: 18.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.send-time {
  font-size: 0.75rem;
}

.chat-message-profile {
  width: 2.8rem;
}

.spinner {
  width: 2.5rem;
  margin: -15px;
}
